body{
    margin-top: 0;
    margin-left: 0;
    background-color: #f2f2f2;
}

#appContainer{
    background-color: #FFFFFF;
    width: 800px;
    height: 600px;
    position: relative;
}

.globalInputForm{
    position:absolute;
    top:0px;
    left: 0px;
    width: inherit;
    height: inherit;
    background: #99CA3B;
}

.globalInputFormCenterGroup{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
    margin:auto;
}

.globalInputField{
    margin-bottom: 10px;
}

.outer {
    display: table;
    position: static;
    height: 100%;
    width: 100%;
    background-color: #2aabd2;
}

.middle {
    display: table-cell;
    vertical-align: middle;
    background-color: #5cb85c;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 305px;
    background: #1b6d85;
}


.load-pitch-panel, .progress-bar-panel, .dialog-panel{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    width: 480px;
    max-height: 360px;
}

.load-pitch-container{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    max-height: 256px;
    min-height: 42px;
    overflow: auto;
}

.load-pitch-list{
    margin-bottom: 0px!important;
}

.load-drill-form-h3, .progress-bar-form-h3{
    text-align: center;
    margin-top:10px;
    margin-bottom:10px;
}

.load-pitch-form-load-btn-container{
    margin-left: auto;
    margin-right: 10px;
    width:65px;
    margin-bottom: 10px;
}

.load-pitch-form-load-btn{
    width:65px;
}

.form-back-button{
    position: absolute; padding-top: 10px; padding-left: 10px
}

.drill-editor-app-form, .progress-bar-form, .dialog-form{
    position:absolute;
    left:0px;
    top:0px;
    width: 800px;
    height: 600px;
    background: #ffffff;
}

.load-pitch-form-thumb-image{
    width: 64px;
    height: 64px;
}

